<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bloggy | <%= title %> </title>
</head>
<body>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>
          Bloggy
        </h1>
        <p>Blogs By Fidel</p>
      </a>
    </div>
    <div>
      <ul>
        <li><a href="/"></a>Blogs</li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create"></a>Create</li>
      </ul>
    </div>
  </nav>
  <div class="blogs content">
    <h2>Ooops!! No such page</h2>
    
  </div>
  
</body>
</html>